.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}


.breadcrumbs li {
  list-style-type: none;
  padding-left: 15px;
  padding-top: 2px;
  margin-right: 10px;
  background-image: url(../img/shape1.svg);
  background-repeat: no-repeat;
  background-position:  left  ;
}


.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}
