.button {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: white;
  border: 0;
  background-color: #000000;
  padding: 10px 33px;
  outline: none;
  min-width: 72px;
}

.button--long {
  width: 300px;
}
