.buttons {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  cursor: pointer;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #000;
}

.buttons--order-button {
  margin-top: 20px;
  padding: 10px 127px;
}

.buttons:hover {
  background-color: #663d15;
}
