@media all and (max-width:960px) {
  .contacts {
    .block-controls {
      margin-left: 185px;
      margin-top: 40px;
    }
  }
}


@media all and (max-width:320px) {
  .contacts {
    .block-controls {
      margin-left: 85px;
      margin-top: 40px;

      a {
        margin-bottom: 20px;
      }
    }
  }
}
