.features {
  margin-top: 250px;
  margin-bottom: 84px;
  text-align: center;
}


.features__item {
  display: inline-block;
  width: 270px;
  margin: 0 20px;
}

.features__item p {
  width: 260px;
}


@media  (max-width:960px)  {
  .features__item, .features__item p {
    width: 200px;
  }
}


@media screen and (max-width:320px) {
  .features {
    display: none;
  }
}
