.features {
  margin-top: 250px;
  margin-bottom: 84px;
  text-align: center;
}


.features__item {
  display: inline-block;
  width: 270px;
  margin: 0 20px;
}

.features__item p {
  width: 260px;
}
