.footer {
  height: 194px;
  width: 100%;
  background: url('../img/bg-footer.jpg') repeat;
  margin-top: auto;
}

.footer .button:hover {
  color: #000;
  color: #f00;
  background-color: #fff;
}

.footer__wrapper {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer-contacts {
  width: 310px;
  margin-right: 90px;
}



.footer-copyright {
  width: 150px;
  text-align: center;
  margin-left: auto;
}


@media  (max-width:960px) {
  .footer__wrapper {
    width: 738px;
  }
}
