.footer .button:hover {
  color: #000;
  color: #f00;
  background-color: #fff;
}

.footer {
  clear: both;
  height: 194px;
  background: url('../img/bg-footer.jpg') repeat;
}

.footer__wrapper {
  width: 940px;
  margin: 0 auto;
  padding-top: 20px;
}

.footer-contacts {
  float: left;
  width: 310px;
  margin-right: 90px;
}

.footer__social {
  float: left;
}

.footer-copyright {
  float: right;
  width: 150px;
  text-align: center;
}
