
.gallery > .bx-wrapper {
  height: 180px;

}


.gallery img {
  border: 10px solid white;
  height: 164px;
}

.gallery a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.gallery__controls {
  margin-top: -30px;
}
