body {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  min-width: 960px;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}


@media (max-width:960px) {
  body {
    min-width: 320px;
  }
}
