// .order-form__order-form-cell  p {
//   margin-bottom: 0;
// }
//
// .order-form__order-form-cell input {
//   width: 130px;
//   height: 30px;
//   margin-right: 20px;
//   border: 2px solid black;
//   color: red;
// }
//
// .order-form__order-form-cell input::placeholder {
//   font-size: 14px;
//   font-weight: bold;
// }
//
// .order-form__order-form-cell {
//   float: left;
//   width: 150px;
//   margin-top: 12px;
//   margin-right: 20px;
// }
//
// .order-form__order-form-cell label {
//   margin-left: 16px;
// }
//
// .order-form__order-form-cell input {
//   font-size: 14px;
//   font-weight: 700;
//   padding-left: 10px;
//   text-transform: uppercase;
// }


.order-form__cell-wrap {
  width: 300px;
  padding-bottom: 10px;
}

.order-form__cell {
  width: 150px;
  float: left;
  margin-bottom: 15px;

}

.order-form__cell input {
  font-size: 14px;
  font-weight: bold;
  width: 123px;
  height: 30px;
  border: 2px solid black;
  outline: none;
  padding-left: 14px;

}

 input::placeholder {
  font-size: 14px;
  font-weight: bold;
}

.order-form__cell:nth-child(2n) input {
  margin-left: 7px;
}


.order-form__cell:nth-child(2n) label {
    margin-left: 21px;
}

.order-form__cell label {
  margin-left: 16px;
}

.order-form__button {
  margin-top:5px;
}



@media all and (max-width:960px) {
  .order {
    text-align: center;
    h2 {
      text-align: left;
    }
  }
  .order-form__cell-wrap {
    margin-left: 185px;
  }
}




@media all and (max-width:320px) {
  .order-form__cell-wrap {
    margin-left: 0;
    text-align: left;
  }
  .order-form__cell {
    float: none;
  }
  .order-form__cell input {
    width: 250px;
  }

  .order-form__cell:nth-child(2n) input {
    margin-left: 0;
  }

}
