.page-header {
  height: 70px;
  background: black;
}


.page-header__wrapper {
  width: 960px;
  margin: 0 auto;
}

.page-header__logo {
  /* z-index: -1; */
  position: absolute;
  top: 70px;
  margin-left: 300px;
}
