.page-header {
  height: 70px;
  background: black;
}

.page-header__wrapper {
  flex-wrap: wrap;
  height: 300px;
  display: flex;
  width: 960px;
  margin: 0 auto;
}

.page-header__wrapper--logo-s {
  flex-wrap: nowrap;
  justify-content: space-around;
}

.page-header__logo {
  order: 10;
  align-self: flex-end;
  margin-left: 300px;
}


.page-header__logo--catalog {
  align-self: flex-start;
  order: 0;
  margin-top: 10px;
  margin-left: 10px;

}

.page-header__logo--catalog img {
  height: auto;
  width: 120px;
}


@media  (max-width:960px) {
  .page-header__wrapper {
    justify-content: center;
    width: 768px;
  }
  .page-header__logo {
    margin-left: 0;
  }
}

@media screen and (max-width:320px) {
  .page-header__wrapper {
    height: 140px;
    width: 320px;
    justify-content: flex-start;
  }
  .page-header__logo {
    margin-left: 70px;
  }
  .page-header__logo img {
    width: 120px;
  }

}
