.page-catalog {
      margin: 0 auto;
      width: 960px;
      /*временно для всех элементов */
      color: #000000;
      height: 100%;
      margin-bottom: 45px;

}

.page-catalog__inner-page-info {
  margin: 20px;
}
.page-catalog__inner-content {
  display: flex;
  flex-wrap: wrap;
}

.page-catalog__shop-filters{
  width: 170px;
  margin: 10px;
  li {
    list-style-type: none;
    width: 170px;
  }

  input[type=checkbox] {
    margin-right: 15px;
  }
}

.page-catalog__shop-items {
  width: 740px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}



.page-catalog__shop-items :last-child[class=page-catalog__shop-item] {
  //margin-right: auto;
}

.page-catalog__shop-item {
  display: flex;
  flex-direction: column;
  width: 216px;
  height: 275px;
  background-color: #f8f5f2;

  margin: 10px;
  margin-right: 17px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  border: 1px solid #e7dfd7;

  button {
    margin-right: 0px;
    cursor: pointer;
  }

  h2, button {
    margin-left: 16px;
    font-size: 14px;
  }
}

.page-catalog__shop-item  img {
  width: 100%;
}

.page-catalog__shop-item-price {
  margin-top: auto;
  text-align: right;
  width: 180px;
  padding-left: 5px;
  margin-left: 16px;
  font-weight: 700;
  color: #000;
  background: #e5e5e5;
  text-transform: uppercase;

  a.button {
    width: auto;
    margin-right: 0px;
    margin-left: 25px;
  }
}



@media  (max-width:960px) {
  .page-catalog {
    width: 760px;
  }
  .page-catalog__shop-items {
    width: 500px;
  }
}
