@charset "UTF-8";
body {
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  min-width: 960px;
  margin: 0;
  text-transform: uppercase;
  color: #fff; }

.body-page-index {
  background: url("../img/bg-b.jpg") top center no-repeat; }

.body-page-catalog {
  background-color: #f8f5f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.buttons {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  cursor: pointer;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #000; }

.buttons--order-button {
  margin-top: 20px;
  padding: 10px 127px; }

.buttons:hover {
  background-color: #663d15; }

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0px;
  margin-bottom: 30px; }

.breadcrumbs li {
  list-style-type: none;
  padding-left: 15px;
  padding-top: 2px;
  margin-right: 10px;
  background-image: url(../img/shape1.svg);
  background-repeat: no-repeat;
  background-position: left; }

.breadcrumbs a {
  color: #000000;
  text-decoration: none; }

.breadcrumbs li.current {
  color: #aba9a7; }

.shop-pages {
  margin: 10px auto; }

.shop-pages li {
  width: 40px;
  height: 30px;
  float: left;
  list-style-type: none;
  background-color: #000000;
  color: #ffffff;
  padding-top: 8px;
  margin-right: 10px;
  text-align: center; }
  .shop-pages li a {
    color: #ffffff;
    text-decoration: none; }

.shop-pages li.active {
  background-color: #ffffff; }
  .shop-pages li.active a {
    color: #000000; }

.button {
  margin-right: 25px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: white;
  border: 0;
  background-color: #000000;
  padding: 10px 25px;
  outline: none;
  width: 90px; }

.button--long {
  width: 250px;
  margin-top: 30px; }

.button:hover {
  background-color: #663d15; }

.box-button {
  width: 43px;
  min-height: 43px;
  background-color: black;
  border: 0; }

.page-header {
  height: 70px;
  background: black; }

.page-header__wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  margin: 0 auto; }

.page-header__wrapper--logo-s {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.page-header__logo {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 300px; }

.page-header__logo--catalog {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-top: 10px;
  margin-left: 10px; }

.page-header__logo--catalog img {
  height: auto;
  width: 120px; }

.main-nav ul {
  float: left;
  width: auto;
  margin: 0; }

.main-nav ul li {
  float: left;
  /* display: inline-block; */
  width: 90px;
  height: 30px;
  /* margin-right: 40px; */
  padding: 20px 5px;
  list-style-type: none;
  text-align: center; }

.main-nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: white; }

.main-nav ul li:hover {
  cursor: pointer;
  background-color: #242424; }

.main-nav ul li.active:hover {
  background-color: black; }

.main-nav ul li.active a {
  padding-bottom: 25px;
  cursor: default;
  border-bottom: 2px solid white; }

.user-main-nav {
  margin-left: auto; }

.user-main-nav ul {
  margin: 0; }

.user-main-nav ul li {
  width: 65px;
  height: 50px;
  padding-top: 20px;
  padding-left: 15px;
  list-style-type: none;
  text-align: center;
  background: url(../img/login.svg) 10px 23px no-repeat; }

.user-main-nav ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white; }

.user-main-nav ul li:hover {
  cursor: pointer;
  background-color: #242424; }

.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  margin: 0 auto; }

.page-catalog {
  margin: 0 auto;
  width: 960px;
  /*временно для всех элементов */
  color: #000000;
  height: 100%;
  margin-bottom: 45px; }

.page-catalog__inner-page-info {
  margin: 20px; }

.page-catalog__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.page-catalog__shop-filters {
  width: 170px;
  margin: 10px; }
  .page-catalog__shop-filters li {
    list-style-type: none;
    width: 170px; }
  .page-catalog__shop-filters input[type=checkbox] {
    margin-right: 15px; }

.page-catalog__shop-items {
  width: 740px;
  margin: 10px;
  margin-left: 30px;
  margin-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.page-catalog__shop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 216px;
  height: 275px;
  background-color: #f8f5f2;
  margin: 10px;
  margin-right: 17px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  border: 1px solid #e7dfd7; }
  .page-catalog__shop-item button {
    margin-right: 0px;
    cursor: pointer; }
  .page-catalog__shop-item h2, .page-catalog__shop-item button {
    margin-left: 16px;
    font-size: 14px; }

.page-catalog__shop-item img {
  width: 100%; }

.page-catalog__shop-item-price {
  margin-top: auto;
  text-align: right;
  width: 180px;
  padding-left: 5px;
  margin-left: 16px;
  font-weight: 700;
  color: #000;
  background: #e5e5e5;
  text-transform: uppercase; }
  .page-catalog__shop-item-price a.button {
    width: auto;
    margin-right: 0px;
    margin-left: 25px; }

.product__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product__photos {
  width: 450px; }

.product__description {
  width: 390px;
  margin: 10px; }

.product__vendor-code {
  float: right;
  color: #aeaeae; }

.product__purchase-block {
  margin-left: 0px;
  margin-top: 25px;
  margin-bottom: 35px; }
  .product__purchase-block button {
    margin-right: 0;
    margin-left: 25px;
    cursor: pointer; }

.index-content {
  width: 380px;
  height: 370px;
  margin-bottom: 36px;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 80px;
  color: black;
  background: url("../img/white-bg.jpg") repeat center; }

.index-content--line {
  background: url(../img/sections-line.png) no-repeat right center, url("../img/white-bg.jpg") repeat center; }

.index-content p span {
  display: block; }

.features {
  margin-top: 250px;
  margin-bottom: 84px;
  text-align: center; }

.features__item {
  display: inline-block;
  width: 270px;
  margin: 0 20px; }

.features__item p {
  width: 260px; }

.gallery img {
  border: 10px solid white; }

.gallery a {
  cursor: pointer;
  text-decoration: none;
  color: white; }

.gallery__controls {
  margin-top: -30px; }

.order-form__cell-wrap {
  width: 300px;
  padding-bottom: 10px; }

.order-form__cell {
  width: 150px;
  float: left;
  margin-bottom: 15px; }

.order-form__cell input {
  font-size: 14px;
  font-weight: bold;
  width: 123px;
  height: 30px;
  border: 2px solid black;
  outline: none;
  padding-left: 14px; }

input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold; }

input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold; }

input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold; }

input::placeholder {
  font-size: 14px;
  font-weight: bold; }

.order-form__cell:nth-child(2n) input {
  margin-left: 7px; }

.order-form__cell:nth-child(2n) label {
  margin-left: 21px; }

.order-form__cell label {
  margin-left: 16px; }

.order-form__button {
  margin-top: 5px; }

.footer {
  height: 194px;
  width: 100%;
  background: url("../img/bg-footer.jpg") repeat;
  margin-top: auto; }

.footer .button:hover {
  color: #000;
  color: #f00;
  background-color: #fff; }

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-top: 20px; }

.footer-contacts {
  width: 310px;
  margin-right: 90px; }

.footer-copyright {
  width: 150px;
  text-align: center;
  margin-left: auto; }

.social-nets__s-icon {
  width: 22px;
  height: 22px; }

.fade-out {
  position: absolute;
  z-index: 99;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: black; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }


@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.modal-form-login {
  position: relative;
  z-index: 100;
  left: 40%;
  width: 300px;
  height: 346px;
  padding: 20px 80px; }

.modal-form-login__checkbox-indicator {
  position: relative;
  top: 7px;
  width: 17px;
  height: 17px;
  border: 2px solid #000; }

.modal-form-login__lk-forgot-pass {
  margin-left: 70px;
  color: black; }

.buttons--modal-form {
  width: 250px;
  text-align: center; }

.modal-form-login__close {
  position: absolute;
  top: 10px;
  right: -30px;
  cursor: pointer; }

.modal-form-login__data-fileld {
  font-size: 14px;
  font-weight: 700;
  width: 300px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 12px;
  padding-left: 10px;
  text-transform: uppercase;
  border: 2px solid black; }

.modal-form-login__checkbox-remember {
  margin-right: 5px; }
